.gradient-sunforged {
    background: radial-gradient(
        ellipse,
        var(--color-secondary),
        var(--color-primary) 35%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.party-section__image {
    width: 500px;
    margin: 0 auto;
}

.party-section__names {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 300px;
    left: 0;

    -webkit-mask: linear-gradient(
        0deg,
        transparent,
        white 30%,
        white 70%,
        transparent
    );
    mask: linear-gradient(0deg, transparent, white 20%, white 80%, transparent);
}

.party-section__names menu {
    display: flex;
    color: white;
    gap: 2rem;
    font-size: 3rem;
    flex-direction: column;

    width: fit-content;
    text-align: right;
    padding: 0;
}
.party-section__names a {
    position: relative;
    transition: transform linear 0.25s;
    transform: translateX(0);
}

.party-section__names .selected {
    color: var(--color-primary);
    /* transform: translate(3rem); */
}

.state__no-transition {
    transition: none !important;
}

.party-section {
    position: relative;
    min-height: 100vh;
    width: 1200px;
}

.party-section__title {
    font-family: Cormorant, serif;
    background: radial-gradient(
        ellipse,
        var(--color-secondary),
        var(--color-primary) 35%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    text-align: center;

    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.party-section__character-details {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-primary);

    border: solid 1px var(--color-primary);
}

.party-section__character-details--row {
    display: inline;
}

/* 
    Table of Contents
    =============================
    1. Layout Utility
    2. Visual Utility
    3. Visuals
    4. Layout
        4.1 Hero
        4.2 Hero Social Links
    5. Components
        5.1 Floating Button
        5.2 Fancy Button
        5.3 Social Links
    6. State Classes
    7. Media Queries
*/

:root {
    --color-primary: #d49240;
    --color-secondary: #f6e2c2;
}

/* ==================================================== */
/* 1. Layout Utility */
/* ==================================================== */
.center {
    margin: 0 auto;
}

/* ==================================================== */
/* 2. Visual Utility */
/* ==================================================== */
.border-primary {
    border: solid 1px var(--color-primary);
}

.border-secondary {
    border: solid 1px var(--color-secondary);
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.background-transparent {
    background: transparent;
}

.background-black {
    background-color: black;
}

/* ==================================================== */
/* 3. Visuals */
/* ==================================================== */
body {
    background-color: black;
}

a {
    cursor: pointer;
}

/* ==================================================== */
/* 4. Layout */
/* ==================================================== */
section {
    width: calc(100% - 2rem);
    margin: 1rem auto;
    padding: 1px;
}

section:not(:first-of-type) {
    padding-top: 2rem;
}

/* 4.1 Hero */
/* ====================== */
.hero {
    position: relative;
    min-height: 350px;
    height: calc(100vh - 2rem);
    margin: 1rem;
    text-align: center;
}

.hero__outline {
    position: absolute;
    z-index: -1;
}

.hero__outline:nth-of-type(1) {
    height: calc(100% - 2rem);
    width: calc(100%);
    margin: 1rem 0;
}

.hero__outline:nth-of-type(2) {
    height: calc(100%);
    width: calc(100% - 2rem);
    margin: 0 1rem;
}

.hero__img {
    display: block;
    padding: 2rem;
    padding-top: max(20vh, 50px);
    margin: 0 auto;
}

.hero__playlist-container {
    width: calc(100% - 4rem);
    margin: 0 auto;
}

/* ==================================================== */
/* 5. Components */
/* ==================================================== */

/* 5.1 Floating Button */
/* ====================== */
.floating-button {
    position: fixed;
    right: 0;
    bottom: 0;

    display: flex;
    height: 50px;
    width: 50px;

    border: solid 1px var(--color-primary);
    border-radius: 50%;
    margin: 3rem;
    background-color: black;

    isolation: isolate;
    z-index: 1;
}

.floating-button__center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    height: 18px;
    width: calc(50px - 1rem - 2px - 10px);
    margin: 0 auto;
}

.floating-button__center--line {
    height: 2.5px;
    background-color: var(--color-primary);
}

/* 5.2 Fancy Button */
/* ====================== */
.fancy-button {
    display: inline-block;
    width: fit-content;
    margin: 0.5rem;
}

.fancy-button__decoration {
    padding: 0.2rem;
    margin: 0 1.5rem;
    transition: 0.5s margin;
}

.fancy-button__core {
    display: block;
    width: 100%;
    padding: 0.4rem 1.5rem;

    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 0.25rem;
    outline: none;
}

.fancy-button__decoration:nth-of-type(1) {
    border-bottom: none;
}

.fancy-button__decoration:nth-of-type(2) {
    border-top: none;
}

.fancy-button,
.fancy-button:hover {
    cursor: pointer;
}

.fancy-button:hover * {
    border-color: var(--color-primary) !important;
    color: var(--color-primary) !important;
    cursor: pointer;
    transition: all 0.5s;
}

.fancy-button:hover .fancy-button__decoration {
    margin: 0 0.5rem;
}

/* 5.3 Social Links */
/* ====================== */
.social-links {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    padding: 1rem;

    font-size: 2rem;

    background-color: hsla(0, 0%, 0%, 0.99);

    isolation: isolate;
}

.social-links a {
    width: calc(100% - 2rem);
    margin: 1rem;
    color: var(--color-primary);
    overflow: hidden;
}

.social-links a:hover {
    padding-left: 2rem;
}

.social-links i::before {
    padding-right: 1.5rem;
}

/* ==================================================== */
/* 6. State Classes*/
/* ==================================================== */
.flex {
    display: flex;
}

/* ==================================================== */
/* 7. Media Queries */
/* ==================================================== */
@media (orientation: landscape) {
    .hero__img {
        max-height: 100%;
        width: auto;
    }
}

@media (min-width: 700px) {
    .hero {
        min-height: 500px;
    }

    .fancy-button__core {
        padding: 0.5rem 2rem;
        font-size: 1.25rem;
    }

    .hero__playlist {
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    .hero {
        min-height: 750px;
    }

    .fancy-button__core {
        padding: 0.5rem 3rem;
        font-size: 1.5rem;
    }

    .hero__playlist {
        font-size: 2.5rem;
    }

    .floating-button:first-of-type {
        display: none;
    }

    .social-links {
        position: absolute;

        display: flex;
        align-items: baseline;

        height: calc(100% - 4rem);
        width: fit-content;
        margin: 2rem;

        background-color: transparent;
    }

    .social-links a {
        width: 50px;

        text-align: left;
        overflow: hidden;
    }

    .social-links a:hover {
        width: 100%;

        /* Needed to offset mobile hover selector */
        padding: 0rem;

        transition-duration: 0.5s;
        transition-property: color, width;
        transition-timing-function: ease-out;
    }

    .social-links i::before {
        padding-right: 1.5rem;
    }
}
