:root {
    --color-primary: #d49240;
    --color-secondary: #e6b884;
}

/* ==================================================== */
/* Layout Utility */
/* ==================================================== */
.center {
    margin: 0 auto;
}

/* ==================================================== */
/* Visual Utility */
/* ==================================================== */
.border-primary {
    border: solid 1px var(--color-primary);
}

.border-secondary {
    border: solid 1px var(--color-secondary);
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.background-transparent {
    background: transparent;
}

/* ==================================================== */
/* Visuals */
/* ==================================================== */
body {
    background-color: black;
}

/* ==================================================== */
/* Layout */
/* ==================================================== */
.hero {
    position: relative;
    height: calc(100vh - 2rem);
    min-height: 350px;
    margin: 1rem;
    text-align: center;
}

.hero__outline {
    position: absolute;
    z-index: -1;
}

.hero__outline:nth-of-type(1) {
    height: calc(100% - 2rem);
    width: calc(100%);
    margin: 1rem 0;
}

.hero__outline:nth-of-type(2) {
    height: calc(100%);
    width: calc(100% - 2rem);
    margin: 0 1rem;
}

.hero__img {
    padding: 2rem;
    padding-top: max(20vh, 50px);
    display: block;
    margin: 0 auto;
}

.hero__playlist-container {
    width: calc(100% - 4rem);
    margin: 0 auto;
}

/* ==================================================== */
/* Components */
/* ==================================================== */

/* Floating Button */
.floating-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3rem;
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;

    border: solid 1px var(--color-primary);

    display: flex;
}

.floating-button__center {
    align-self: center;
    margin: 0 auto;
    height: 18px;
    width: calc(50px - 1rem - 2px - 10px);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.floating-button__center--line {
    height: 2.5px;
    background-color: var(--color-primary);
}

/* Fancy Button */
.fancy-button {
    width: fit-content;
    margin: 0.5rem;
    display: inline-block;
}

.fancy-button__decoration {
    padding: 0.2rem;
    margin: 0 1.5rem;
    transition: 0.5s margin;
}

.fancy-button__core {
    display: block;
    padding: 0.4rem 1.5rem;
    width: 100%;
    outline: none;

    font-size: 1rem;
    letter-spacing: 0.25rem;
    text-decoration: none;
}

.fancy-button__decoration:nth-of-type(1) {
    border-bottom: none;
}

.fancy-button__decoration:nth-of-type(2) {
    border-top: none;
}

.fancy-button,
.fancy-button:hover {
    cursor: pointer;
}

.fancy-button:hover * {
    cursor: pointer;
    color: var(--color-primary) !important;
    border-color: var(--color-primary) !important;
    transition: all 0.5s;
}

.fancy-button:hover .fancy-button__decoration {
    margin: 0 0.5rem;
}

/* Media Queries */
@media (orientation: landscape) {
    .hero__img {
        width: auto;
        max-height: 100%;
    }
}

@media (min-width: 700px) {
    .hero {
        min-height: 500px;
    }

    .fancy-button__core {
        font-size: 1.25rem;
        padding: 0.5rem 2rem;
    }

    .hero__playlist {
        font-size: 1.75rem;
    }

    .floating-button:first-of-type {
        display: none;
    }
}

@media (min-width: 1200px) {
    .hero {
        min-height: 750px;
    }

    .fancy-button__core {
        font-size: 1.5rem;
        padding: 0.5rem 3rem;
    }

    .hero__playlist {
        font-size: 2.5rem;
    }
}
