/* 
    Table of Contents
    =============================
    1. Layout Utility
    2. Visual Utility
    3. Visuals
    4. Layout
        4.1 Hero Section
        4.2 Party Section
            4.2.1 Party Section Selection
    5. Components
        5.1 Floating Button
        5.2 Fancy Button
        5.3 Social Links
        5.4 Page Navigation
    6. State Classes
    7. Media Queries
*/

:root {
    --color-primary: #deaa68;
    --color-primary-dark: #d49240;
    --color-secondary: white;
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    font-family: Cormorant, serif;
}

h2 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: Cormorant, serif;
}

/* ==================================================== */
/* 1. Layout Utility */
/* ==================================================== */

/* ==================================================== */
/* 2. Visual Utility */
/* ==================================================== */
.border-primary {
    border: solid 1px var(--color-primary);
}

.border-secondary {
    border: solid 1px var(--color-secondary);
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-white {
    color: white;
}

.background-transparent {
    background: transparent;
}

.gradient-sunforged {
    --__radial: var(--radial, 35%);

    background: radial-gradient(
        ellipse,
        var(--color-secondary),
        var(--color-primary-dark) var(--__radial)
    );
    background: radial-gradient(
        ellipse,
        var(--color-secondary),
        var(--color-primary-dark) var(--__radial)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ==================================================== */
/* 3. Visuals */
/* ==================================================== */
body {
    background-color: black;
}

a,
button {
    cursor: pointer;
}

h2 {
    color: var(--color-primary-dark);
}

/* ==================================================== */
/* 4. Layout */
/* ==================================================== */
section {
    width: 100%;
    min-height: 100vh;
    margin-bottom: 1rem;
    overflow: hidden;
}

section:not(:first-of-type) {
    padding-top: 2rem;
}

/* 4.1 Hero Section */
/* ====================== */
.hero {
    position: relative;
    min-height: 350px;
    height: calc(100vh - 2rem);
    width: calc(100% - 2rem);
    margin: 1rem;
    text-align: center;
}

.hero__outline {
    z-index: -1;
    position: absolute;
    border: solid 1px var(--color-primary-dark);
}

.hero__outline:nth-of-type(1) {
    height: calc(100% - 2rem);
    width: calc(100%);
    margin: 1rem 0;
}

.hero__outline:nth-of-type(2) {
    height: calc(100%);
    width: calc(100% - 2rem);
    margin: 0 1rem;
}

.hero__img {
    display: block;
    padding: 2rem;
    padding-top: max(20vh, 50px);
    margin: 0 auto;
}

.hero__playlist-container {
    width: calc(100% - 4rem);
    margin: 0 auto;
}

/* 4.2 Party Section */
/* ====================== */

.party-section {
    position: relative;
    display: inline-block;
    isolation: isolate;
}

.party-section__title {
    --radial: 45%;

    padding: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: Cormorant, serif;

    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

.party-section__content-container {
    min-height: calc(750px + 1rem);
    padding-top: 1rem;
    margin: 0 auto;
    overflow: hidden;
}

.hidden {
    display: none;
}

.party-section__image {
    z-index: -1;
    position: absolute;
    display: inline;

    width: 500px;

    vertical-align: middle;
    transform: rotate(346deg);
}

.party-section__character-details {
    padding: 1rem;

    color: var(--color-primary);
    background-image: linear-gradient(transparent 0%, black 100px);

    font-family: serif;
}

.party-section__character-details--row {
    display: inline-block;
    margin: 0.5rem;
    margin-right: 2rem;
}

.party-section__character-details--row:nth-of-type(2) {
    margin-right: 0.5rem;
}

.party-section__character-details--row h3 {
    font-size: 1rem;
    color: var(--color-primary-dark);
}

.party-section__character-details--row i {
    font-size: 1rem;
}

.party-section__character-details--row * {
    font-size: 1.5rem;
    color: white;
}

/* 4.2.1 Party Section Selection */
/* ========= */
.party-section__selection-container {
    position: relative;
    display: inline-block;

    padding: 1rem;

    vertical-align: top;

    background-image: linear-gradient(270deg, transparent 0%, black 25px);
}

.party-section__selection-container button {
    position: absolute;
    top: 50%;
    right: -30px;

    border-radius: 50%;

    transform: translate(-50%, calc(-50% + min(5px, 0.5vw)));

    color: var(--color-primary-dark);
    background-color: transparent;
}

.party-section__selection-container img {
    z-index: 2;
    position: relative;
    left: 75px;

    width: 75px;

    cursor: pointer;
}

.party-section__selection-container img:last-of-type {
    transform: scaleY(-1);
}

.party-section__selection-names {
    width: fit-content;
    margin: 2rem 0;
    overflow: clip;

    color: white;
    -webkit-mask: linear-gradient(
        0deg,
        transparent,
        white 30%,
        white 70%,
        transparent
    );
    mask: linear-gradient(0deg, transparent, white 20%, white 80%, transparent);
}

.party-section__selection-names menu {
    display: flex;
    flex-direction: column;

    width: fit-content;
    padding: 0;
    gap: 2rem;

    text-align: right;
    font-size: 1.5rem;

    color: var(--color);
}
.party-section__selection-names a {
    position: relative;
    text-transform: capitalize;
    transform: translateX(var(--_test));
}

@media (min-width: 500px) {
    .party-section__title {
        --radial: initial;
    }

    .party-section__image {
        transform: none;
    }

    .party-section__selection-container {
        margin-right: 0;
    }

    .party-section__selection-container img {
        left: 135px;
    }

    .party-section__selection-names menu {
        font-size: 2rem;
    }
}

@media (min-width: 700px) {
    .party-section__content-container {
        width: 100%;
    }

    .party-section__selection-container {
        margin-right: 75px;
    }

    .party-section__selection-container img {
        left: 170px;
        width: 100px;
    }

    .party-section__selection-names menu {
        padding-left: 50px;
        font-size: 2.5rem;
    }

    .party-section__character-details {
        width: calc(100% - 4rem);
        margin-left: 4rem;
    }
}

@media (min-width: 1200px) {
    .party-section__content-container {
        width: 1200px;
    }

    .party-section__selection-container {
        margin-right: 110px;
    }

    .party-section__selection-container img {
        width: 125px;
    }

    .party-section__selection-names menu {
        padding: 0;
        font-size: 3rem;
    }

    .party-section__character-details {
        display: block;
        float: right;

        width: 325px;
        padding: 0;
        margin-top: 50px;

        text-align: left;
        white-space: normal;

        background: transparent;
    }
}

/* ==================================================== */
/* 5. Components */
/* ==================================================== */

/* 5.1 Floating Button */
/* ====================== */
.floating-button {
    z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;

    display: flex;
    height: 50px;
    width: 50px;
    border: solid 1px var(--color-primary);
    border-radius: 50%;
    margin: 3rem;

    background-color: black;

    isolation: isolate;
}

.floating-button__center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-self: center;

    height: 18px;
    width: calc(50px - 1rem - 2px - 10px);
    margin: 0 auto;
}

.floating-button__center--line {
    height: 2.5px;
    background-color: var(--color-primary);
}

/* 5.2 Fancy Button */
/* ====================== */
.fancy-button {
    display: inline-block;
    width: fit-content;
    margin: 0.5rem;
}

.fancy-button__decoration {
    padding: 0.2rem;
    margin: 0 1.5rem;
    transition: 0.5s margin;
}

.fancy-button__core {
    display: block;
    width: 100%;
    padding: 0.4rem 1.5rem;

    border: solid 1px currentColor;

    font-size: 1rem;
    text-decoration: none;
    letter-spacing: 0.25rem;
    color: currentColor;
    outline: none;
}

.fancy-button__decoration:nth-of-type(1) {
    border: solid 1px currentColor;
    border-bottom: none;
}

.fancy-button__decoration:nth-of-type(2) {
    border: solid 1px currentColor;
    border-top: none;
}

.fancy-button,
.fancy-button:hover {
    cursor: pointer;
}

.fancy-button:hover * {
    color: var(--color-secondary) !important;
    border-color: var(--color-secondary) !important;
    cursor: pointer;
    transition: all 0.5s;
}

.fancy-button:hover .fancy-button__decoration {
    margin: 0 0.5rem;
}

/* 5.3 Social Links */
/* ====================== */
.social-links {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: 100vw;
    padding: 1rem;

    font-size: 2rem;

    background-color: hsl(0, 0%, 0%);

    isolation: isolate;
}

.social-links a {
    width: calc(100% - 2rem);
    margin: 1rem;
    overflow: hidden;
    text-wrap: nowrap;

    color: var(--color-primary);
}

.social-links a:hover {
    padding-left: 2rem;
}

.social-links i::before {
    padding-right: 1.5rem;
}

/* 5.4 Page Navigation */
/* ====================== */
.page-navigation {
    position: absolute;

    right: calc(50%);
    bottom: 2rem;

    display: flex;
    justify-content: center;
    width: 500px;
    font-size: 2rem;
    gap: 1rem;
    transform: translate(50%, 0);

    color: var(--color-secondary);
}

/* ==================================================== */
/* 6. State Classes*/
/* ==================================================== */
.flex {
    display: flex;
}

.selected {
    color: var(--color-primary-dark);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* ==================================================== */
/* 7. Media Queries */
/* ==================================================== */
@media (orientation: landscape) {
    .hero__img {
        max-height: 100%;
        width: auto;
    }
}

@media (min-width: 700px) {
    h2 {
        font-size: 4rem;
    }

    .hero {
        min-height: 500px;
    }

    .fancy-button__core {
        padding: 0.5rem 2rem;
        font-size: 1.25rem;
    }

    .hero__playlist {
        font-size: 1.75rem;
    }
}

@media (min-width: 1200px) {
    .hero {
        min-height: 700px;
    }

    h2 {
        font-size: 5rem;
    }

    .fancy-button__core {
        padding: 0.5rem 3rem;
        font-size: 1.5rem;
    }

    .hero__playlist {
        font-size: 2.5rem;
    }
}

@media (min-width: 1400px) and (min-height: 900px) {
    .floating-button:first-of-type {
        display: none;
    }

    .social-links {
        position: absolute;

        display: flex;
        align-items: baseline;

        height: calc(100% - 4rem);
        width: fit-content;
        margin: 2rem;

        background-color: transparent;
    }

    .social-links a {
        width: 50px;

        text-align: left;
        overflow: hidden;
    }

    .social-links a:hover {
        width: 100%;

        /* Needed to offset mobile hover selector */
        padding: 0rem;

        transition-duration: 0.5s;
        transition-property: color, width;
        transition-timing-function: ease-out;
    }

    .social-links i::before {
        padding-right: 0.7rem;
    }
}
